/* Logo */
#logo { padding:0; width:auto; float:left;}
#logo h1 a, h1 a:hover { color:darkred; text-decoration:none;}
#logo h1 span { color:#f8dbdb;}

/* Header */
#header { background:#fff; }
#header-inner { margin:0 auto; padding:0; width:970px;}

/* Menu */
#top-nav { margin:0 auto; padding:0px 0 0; height:37px; float:right;}
#top-nav ul { list-style:none; padding:0; height:37px; float:left;}
#top-nav ul li { margin:0; padding:0 0 0 8px; float:left;}
#top-nav ul li a { display:block; margin:0; padding:8px 20px; color:red; text-decoration:none;}
#top-nav ul li.active a, #top-nav ul li a:hover { color:#f8dbdb;}
